$black: #000000;
$dark: #281E3C;
$white: #ffffff;

$color: #FF0050;

$blue: #0066FF;
$skyblue: #34DCFE;

$darkpurple: #9851AD;
$purple: #BE08A6;
$sharppurple: #9B30EF;

$green: #00C832;
$parrotgreen: #44E197;

$shit: #FFB800;
$orange: #FF741E;
$pink: #FF8078;

$worksans: "Work Sans", sans-serif;
$lightblack2:#281E3C